body{
	background-color:black;
	background:url(https://i.pinimg.com/originals/2b/a2/14/2ba2146741900773da85e440eb02e746.jpg) no-repeat center center fixed;
	-ms-background-size:cover;/*microsoft*/
	-o-background-size:cover;/*opera*/
	-moz-background-size:cover;/*mozilla*/
	-webkit-background-size:cover;/*crome*/	
	height:250x;

}
.box{
	width:28%;
	background-color:#3E425B ;
	color: black;
	border-radius:5%;
	border:1px solid red;
	padding:1%;
	margin:1%;
}
.box img:hover{
	transition: all 1s ease;/*direction,timedelay,functionality/pattern of ttransition style(ease,linear,ease-in)*/
	opacity:0.7;
	width:70%
	height:230px;
	background-color:blue;

}
.box img{
	opacity:1;
	width:100%;
	height:250px;
	border:1px solid red;
	
	
}
.model{
	margin-top:1S%;
	width: 100%;
	height:40%;
	border-width:3px;
	border-style: solid;
	border-color:black;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.action{
	text-align:right;
	margin-top: 1%;


}
.action li a input{
	background-color:yellow;
}
.action input:hover{
	background-color: green;
	color:white;
}
.textt{
	color:#F23049  ;
	font-size:30px;
	text-align: center;

}
.cost{
	text-align:center;
}

.texttt{
	color:#F23049  ;
	font-size:30px;
	text-align: center;

}
.textttt{
	color:#F23049 ;
	font-size:30px;
	text-align: center;

}
footer{
	margin-top:15%;
	text-align: center;
	color: white;
	background-color:black;

}
@media only screen and (min-width: 320px)and (max-width:767px){
	
	.model{
		flex-direction:column;

	}
	.box{
		width:95%;
	}
	.action{

		padding-right:1%;
		margin-bottom:1%;
	}
	
}
@media only screen and (min-width:768px)and (max-width:1024px){
	
	body{
		background-color:pink;
	}
	.model{
		justify-content: space-around;
	}
	.box{
		width: 40%;

	}

}